<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>KPMS - Richard's Kids</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/templates/style.css" />
</head>
<body>
<div class="wrapper">

<div class="topbar">
<ul>
<li class="tbHeader">{% block username %} {% endblock %}</li>
<li class="tbHeader"><a class="tbHeaderLink" href="/student">Home</a></li>
<li class="tbHeader"><a class="tbHeaderLink" href="/auth/logout/">Log Out</a></li>
</ul>
</div>
<div class="djContent">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
